@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

// html et footer permettent de fixer le footer dans le peid de page.
// raison pour laquelle nous avons mis le footer dans la position absolute et le html à la position 
// relative avec une taille minimum de 100%. C'est-à-dire qu'il prend toute la hauteur.

html{
    position: relative;
    min-height: 100%;
}

// Sans cette marche bottom, le contenu de main va se chevaucher, raison pour laquelle nous avons mis
// margin-bottom à 250px. ce 250px est plus ou moins la taille de footer. 
main{
    margin-bottom: 250px;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene {
    position: relative;
    &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/FondHeroScene.JPG);
    background-size: cover;
    filter: brightness(0.3);
    }

    *{
        //Positionner les éléments devant le ::before
        position: relative;
    }

    .hero-scene-content {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}